button{
    background-color: #F28D35;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
}