.learnMoreButton{
    background-color: #F28D35;
    border: none;
    border-radius: 5px;
    font-family: 'Inter',sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 150px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}